.Sticky {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site {
  height: 100%;
}

.formidableHeader-container,
.formidableFooter-container,
.Grid {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0;
  width: 100%;

  @media (--medium-viewport) {
    width: 95%;
  }

  @media (--large-viewport) {
    width: 90%;
  }
}

.Grid-col {
  padding: 0 2%;

  @media (--medium-viewport) {
    padding: 0 4%;
  }
}
