/*
* <Page /> component styles
*/
.Page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--gutter);
  margin-bottom: 0;

  @media (--large-viewport) {
    flex-wrap: nowrap;
  }
}

.Page-sidebar {
  flex: 1 1 100%;

  @media (--large-viewport) {
    flex: 0 0 auto;
  }
}

.Page-content {
  overflow: hidden;
  width: 100%;
}

.Page-content p {
  font-family: var(--fontBody);
  font-size: 1.125rem;
  line-height: 1.7;
  max-width: 36em;
}

.PageBg {
  flex: 1 1 auto;
  margin: var(--gutterSmall) 0 0;
  padding: 0 0 var(--gutter) 0;
  width: 100%;
}

.PageBg--gray {
  background-color: var(--lightestGray);
  box-shadow: 0 7px 50px 1px var(--gray);
}
