/*
* Styles for the <Sidebar /> nav component
*/

.Sidebar {
  margin-bottom: var(--gutter);
}

.Sidebar-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  white-space: nowrap;

  @media (--large-viewport) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.Sidebar-list-item {
  margin: var(--gutterSmall) var(--gutterSmall) 0 0;
  flex-basis: auto;
}

.Sidebar-toc {
  border-left: 1px solid var(--white);
  padding-top: 10px;
  padding-left: 10px;
}

.Sidebar-toc .Sidebar-toc {
  padding-top: 0;
}

.Sidebar-toc-item {
  font-family: var(--fontBody);
  font-size: 1rem;
  line-height: 2;
}
